body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
* {
  box-sizing: border-box;
}
.movie {
  background-color: #373b69;
  border-radius: 3px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  position: relative;
  width: 300px;
  margin: 1rem;
}
.movie-over {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  box-shadow: 0px -3px 5px rgba(0, 0, 0, 0.1);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  color: #22254b;
  overflow: auto;
  max-height: 100%;
  padding: 1rem;
  transform: translateY(102%);
  transition: transform 0.3s ease-in-out;
}
.movie:hover .movie-over {
  transform: translateY(0%);
}
